In [127]:
import datetime as dt
import pandas as pd
import plotly as plt

ModuleNotFoundError: No module named 'plotly'

In [27]:
attendanceFile = pd.ExcelFile('bible study attendance.xlsx') #read in file
sheet_dict = {}
for sheet in range(len(attendanceFile.sheet_names)):
    sheet_dict[attendanceFile.sheet_names[sheet]] = pd.read_excel('bible study attendance.xlsx',sheet_name=attendanceFile.sheet_names[sheet])

In [122]:
sheet_list = list(sheet_dict.keys())

nameDatabase = sheet_dict[sheet_list[0]][['Name']].dropna(axis=0,how='all')

study1206 = sheet_dict[sheet_list[1]][['Name']].dropna(axis=0,how='all')
study1206['Date'] = ['1206' for ele in range(study1206.shape[0])]
study1206['Event'] = ['study1206' for ele in range(study1206.shape[0])]

study1129 = sheet_dict[sheet_list[2]][['Name']].dropna(axis=0,how='all')
study1129['Date'] = ['1129' for ele in range(study1129.shape[0])] 
study1129['Event'] = ['study1129' for ele in range(study1129.shape[0])]

study1108 = sheet_dict[sheet_list[3]][['Name']].dropna(axis=0,how='all')
study1108['Date'] = ['1108' for ele in range(study1108.shape[0])] 
study1108['Event'] = ['study1108' for ele in range(study1108.shape[0])]

study1101 = sheet_dict[sheet_list[4]][['Name']].dropna(axis=0,how='all')
study1101['Date'] = ['1101' for ele in range(study1101.shape[0])]
study1101['Event'] = ['study1101' for ele in range(study1101.shape[0])]

halloweenParty = sheet_dict[sheet_list[5]][['Name']].dropna(axis=0,how='all')
halloweenParty['Date'] = ['1031' for ele in range(halloweenParty.shape[0])]
halloweenParty['Event'] = ['halloweenParty' for ele in range(halloweenParty.shape[0])]

study1018 = sheet_dict[sheet_list[6]][['Name']].dropna(axis=0,how='all')
study1018['Date'] = ['1018' for ele in range(study1018.shape[0])]
study1018['Event'] = ['study1018' for ele in range(study1018.shape[0])]

study1011 = sheet_dict[sheet_list[7]][['Name']].dropna(axis=0,how='all')
study1011['Date'] = ['1011' for ele in range(study1011.shape[0])]
study1011['Event'] = ['study1011' for ele in range(study1011.shape[0])]

study1004 = sheet_dict[sheet_list[8]][['Name']].dropna(axis=0,how='all')
study1004['Date'] = ['1004' for ele in range(study1004.shape[0])]
study1004['Event'] = ['study1004' for ele in range(study1004.shape[0])]

study0927 = sheet_dict[sheet_list[9]][['Name']].dropna(axis=0,how='all')
study0927['Date'] = ['0927' for ele in range(study0927.shape[0])]
study0927['Event'] = ['study0927' for ele in range(study0927.shape[0])]

study0920 = sheet_dict[sheet_list[10]][['Name']].dropna(axis=0,how='all')
study0920['Date'] = ['0920' for ele in range(study0920.shape[0])]
study0920['Event'] = ['study0920' for ele in range(study0920.shape[0])]

study0913 = sheet_dict[sheet_list[11]][['Name']].dropna(axis=0,how='all')
study0913['Date'] = ['0913' for ele in range(study0913.shape[0])]
study0913['Event'] = ['study0913' for ele in range(study0913.shape[0])]

paintFight = sheet_dict[sheet_list[12]][['Name']].dropna(axis=0,how='all')
paintFight['Date'] = ['0906' for ele in range(paintFight.shape[0])]
paintFight['Event'] = ['paintFight' for ele in range(paintFight.shape[0])]

study0830 = sheet_dict[sheet_list[13]][['Name']].dropna(axis=0,how='all')
study0830['Date'] = ['0830' for ele in range(study0830.shape[0])]
study0830['Event'] = ['study0830' for ele in range(study0830.shape[0])]

kickball_TieDie0827 = sheet_dict[sheet_list[14]][['Name']].dropna(axis=0,how='all')
kickball_TieDie0827['Date'] = ['0827' for ele in range(kickball_TieDie0827.shape[0])]
kickball_TieDie0827['Event'] = ['kickball_TieDie0827' for ele in range(kickball_TieDie0827.shape[0])]

study0823 = sheet_dict[sheet_list[15]][['Name']].dropna(axis=0,how='all')
study0823['Date'] = ['0823' for ele in range(study0823.shape[0])]
study0823['Event'] = ['study0823' for ele in range(study0823.shape[0])]

ultimateAndPopsicles = sheet_dict[sheet_list[16]][['Name']].dropna(axis=0,how='all')
ultimateAndPopsicles['Date'] = ['0820' for ele in range(ultimateAndPopsicles.shape[0])]
ultimateAndPopsicles['Event'] = ['ultimateAndPopsicles' for ele in range(ultimateAndPopsicles.shape[0])]

movieNight0817 = sheet_dict[sheet_list[17]][['Name']].dropna(axis=0,how='all')
movieNight0817['Date'] = ['0817' for ele in range(movieNight0817.shape[0])]
movieNight0817['Event'] = ['movieNight0817' for ele in range(movieNight0817.shape[0])]

kickball_IceCream = sheet_dict[sheet_list[18]][['Name']].dropna(axis=0,how='all')
kickball_IceCream['Date'] = ['0816' for ele in range(kickball_IceCream.shape[0])]
kickball_IceCream['Event'] = ['kickball_IceCream' for ele in range(kickball_IceCream.shape[0])]

masterDF = pd.DataFrame()
masterDF = pd.concat([halloweenParty,kickball_IceCream,kickball_TieDie0827,movieNight0817,paintFight,study0823,study0830,study0913,study0920,study0927,study1004,study1011,study1018,study1101,study1108,study1129,study1206,ultimateAndPopsicles]).reset_index(drop=True)
excludedNames = ['Amanda Olinger','Amanda Torres','Ashley Cain','Austin Olinger','Carter Tate','Ellen Warner','Claire Cheatham','Jacob Cheatham','Joy Meekins','Michael Torres','Kenna Bohannon','Jeff Meekins','Amanda Cheatham']
masterDF = masterDF[~masterDF.Name.isin(excludedNames)].reset_index(drop=True)
masterDF.Name = [masterDF.Name[i].lower() for i in range(len(masterDF.Name))]

bibleStudies = masterDF[masterDF.Event.str.contains('study')]

In [126]:
studentNames = list(bibleStudies.Name.unique())
studentNames.sort()
studentNames

['abby damrau',
 'addie bloodworth',
 'addison knight',
 'aidan brennan',
 'alexis mccombs',
 'alyssa maisto',
 'anne hood',
 'antoinette white',
 'ava mitchael',
 'beck perry',
 'beth walchshauser',
 'blake collins',
 'braden allbritton',
 'brandon tipton',
 'brayden smith',
 'breanna stoesz',
 'cameron sigears',
 'chloe burgess',
 'claire higgins',
 'colten larsen',
 'derek german',
 'elias bishara',
 'elijah juan mayo',
 'emily stalder',
 'emilyann reeve',
 'emma benesek',
 'emma moore',
 'emma yost',
 'garrett matthew stuart kennedy',
 'hayden thomas',
 'holly freeman',
 'iseabaila scott',
 'jaden dawes',
 'james trammell',
 'jason collins',
 'jhdaius oteis ladale harris',
 'john palmer',
 'jordan smith',
 'joy phillips',
 'kara simmons',
 'lance cordes',
 'lindsay gills',
 'london parsons',
 'malachi massey',
 'mason myrvik',
 'mason woodworth',
 'mikayla harrison',
 'rachel cruzan',
 'rachel sweningson',
 'reilly jones',
 'shelby flood',
 'sydney adcock',
 'thomas holley',
 'titus shaver',
 'tony',
 'willem austin ',
 'zoe hinkle',
 'zo√© hinkle']

Code below gets unique names considering lowercase issues...still need to fix misspellings and missing last name issues

names = list(masterDF.Name.unique())
names = [name.lower() for name in names]
names.sort()
actualNames = []
for i in names:
    if i not in actualNames:
        actualNames.append(i)
actualNames

In [35]:
sheet_dict['Bible Study 1129'].head()

             Name  Phone Number            Email Address  NOTES
0  Addison Knight  8.175041e+09        akk1968@gmail.com    NaN
1   Colten Larsen  5.126566e+09  larsencolten5@gmail.com    NaN
2  Malachi Massey  4.799579e+09           mm204@uark.edu    NaN
3    Jordan Smith  4.792828e+09     ajsmith700@gmail.com    NaN
4    Kara Simmons  4.693390e+09     penny8077@icloud.com    NaN

In [ ]:
sheet_dict['Bible Study 1129'].head()

In [6]:
attendanceFile